In [20]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [22]:
df = pd.read_csv("Downloads/EdStats_v01.csv")

In [23]:
df.head()

,Country name,Country code,Indicator name,Indicator code,1970,1971,1972,1973,1974,1975,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,AFG,"Adjusted attendance rate, one year before the ...",UIS.NARA.AGM1.Q2.F.LPIA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.27447,NaN,NaN
1,Afghanistan,AFG,"Adjusted attendance rate, one year before the ...",UIS.NARA.AGM1.Q2.M.LPIA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.47413,NaN,NaN
2,Afghanistan,AFG,"Adjusted net attendance rate, one year before ...",UIS.NARA.AGM1.GPIA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.85575,NaN,NaN
3,Afghanistan,AFG,"Adjusted net attendance rate, one year before ...",UIS.NARA.AGM1.LPIA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59410,NaN,NaN
4,Afghanistan,AFG,"Adjusted net attendance rate, one year before ...",UIS.NARA.AGM1.WPIA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.32339,NaN,NaN

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367782 entries, 0 to 367781
Data columns (total 59 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country name    363060 non-null  object
 1   Country code    367782 non-null  object
 2   Indicator name  363060 non-null  object
 3   Indicator code  367782 non-null  object
 4   1970            16054 non-null   float64
 5   1971            24520 non-null   float64
 6   1972            24206 non-null   float64
 7   1973            24000 non-null   float64
 8   1974            24012 non-null   float64
 9   1975            24010 non-null   float64
 10  1976            24851 non-null   float64
 11  1977            24734 non-null   float64
 12  1978            24611 non-null   float64
 13  1979            24597 non-null   float64
 14  1980            25291 non-null   float64
 15  1981            25716 non-null   float64
 16  1982            25262 non-null   float64
 17  1983            25484 non-null   float64
 18  1984            25589 non-null   float64
 19  1985            25185 non-null   float64
 20  1986            25806 non-null   float64
 21  1987            25140 non-null   float64
 22  1988            24699 non-null   float64
 23  1989            24761 non-null   float64
 24  1990            26639 non-null   float64
 25  1991            27975 non-null   float64
 26  1992            27460 non-null   float64
 27  1993            27769 non-null   float64
 28  1994            28829 non-null   float64
 29  1995            29163 non-null   float64
 30  1996            28447 non-null   float64
 31  1997            27054 non-null   float64
 32  1998            47134 non-null   float64
 33  1999            74396 non-null   float64
 34  2000            88463 non-null   float64
 35  2001            85043 non-null   float64
 36  2002            83649 non-null   float64
 37  2003            94580 non-null   float64
 38  2004            94968 non-null   float64
 39  2005            99494 non-null   float64
 40  2006            124248 non-null  float64
 41  2007            106521 non-null  float64
 42  2008            102705 non-null  float64
 43  2009            112298 non-null  float64
 44  2010            117699 non-null  float64
 45  2011            130847 non-null  float64
 46  2012            127538 non-null  float64
 47  2013            119796 non-null  float64
 48  2014            135989 non-null  float64
 49  2015            136865 non-null  float64
 50  2016            132092 non-null  float64
 51  2017            127210 non-null  float64
 52  2018            144008 non-null  float64
 53  2019            140146 non-null  float64
 54  2020            119679 non-null  float64
 55  2021            108545 non-null  float64
 56  2022            77135 non-null   float64
 57  2023            25410 non-null   float64
 58  2024            708 non-null     float64
dtypes: float64(55), object(4)
memory usage: 165.6+ MB

In [26]:
df['Country name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem Rep', 'Congo, Rep',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Dem Peopleâ€™s Rep', 'Korea, Rep', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed Sts', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St Kitts and Nevis', 'St Lucia',
       'St Martin (French part)', 'St Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (US)',
       'West Bank and Gaza', 'Yemen, Rep', 'Zambia', 'Zimbabwe',
       'Czechia', 'Kosovo', 'Turkiye', 'Viet Nam', nan], dtype=object)

In [27]:
df['Country code'].unique()

array(['AFG', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'ATG', 'ARG', 'ARM',
       'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR',
       'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA',
       'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'CPV', 'KHM', 'CMR', 'CAN',
       'CYM', 'CAF', 'TCD', 'CHI', 'CHL', 'CHN', 'COL', 'COM', 'COD',
       'COG', 'CRI', 'CIV', 'HRV', 'CUB', 'CUW', 'CYP', 'CZE', 'DNK',
       'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST',
       'SWZ', 'ETH', 'FRO', 'FJI', 'FIN', 'FRA', 'PYF', 'GAB', 'GMB',
       'GEO', 'DEU', 'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GUM', 'GTM',
       'GIN', 'GNB', 'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND',
       'IDN', 'IRN', 'IRQ', 'IRL', 'IMN', 'ISR', 'ITA', 'JAM', 'JPN',
       'JOR', 'KAZ', 'KEN', 'KIR', 'PRK', 'KOR', 'KWT', 'KGZ', 'LAO',
       'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'LUX', 'MAC',
       'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MRT', 'MUS',
       'MEX', 'FSM', 'MDA', 'MCO', 'MNG', 'MNE', 'MAR', 'MOZ', 'MMR',
       'NAM', 'NRU', 'NPL', 'NLD', 'NCL', 'NZL', 'NIC', 'NER', 'NGA',
       'MKD', 'MNP', 'NOR', 'OMN', 'PAK', 'PLW', 'PAN', 'PNG', 'PRY',
       'PER', 'PHL', 'POL', 'PRT', 'PRI', 'QAT', 'ROU', 'RUS', 'RWA',
       'WSM', 'SMR', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP',
       'SXM', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'SSD', 'ESP', 'LKA',
       'KNA', 'LCA', 'MAF', 'VCT', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR',
       'TJK', 'TZA', 'THA', 'TLS', 'TGO', 'TON', 'TTO', 'TUN', 'TUR',
       'TKM', 'TCA', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY',
       'UZB', 'VUT', 'VEN', 'VNM', 'VIR', 'PSE', 'YEM', 'ZMB', 'ZWE',
       'XKX'], dtype=object)

In [28]:
df['Indicator name'].unique()

array(['Adjusted attendance rate, one year before the official primary entry age, second quintile, female, adjusted location parity index (LPIA)',
       'Adjusted attendance rate, one year before the official primary entry age, second quintile, male, adjusted location parity index (LPIA)',
       'Adjusted net attendance rate, one year before the official primary entry age, adjusted gender parity index (GPIA)',
       ..., 'Fraction of Children Under 5 Not Stunted, Female',
       'Fraction of Children Under 5 Not Stunted, Male', nan],
      dtype=object)

In [31]:
df.shape

(367782, 59)

In [32]:
df.describe()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,1.605400e+04,2.452000e+04,2.420600e+04,2.400000e+04,2.401200e+04,2.401000e+04,2.485100e+04,2.473400e+04,2.461100e+04,2.459700e+04,...,1.368650e+05,1.320920e+05,1.272100e+05,1.440080e+05,1.401460e+05,1.196790e+05,1.085450e+05,7.713500e+04,2.541000e+04,708.000000
mean,3.094202e+05,2.367425e+05,2.394119e+05,2.459894e+05,2.582951e+05,2.629419e+05,2.664995e+05,2.753627e+05,2.847715e+05,2.825439e+05,...,1.284990e+05,1.415484e+05,1.501237e+05,1.249552e+05,1.346604e+05,1.509528e+05,1.783643e+05,2.326513e+05,5.320048e+05,66.788381
std,2.594830e+06,2.231888e+06,2.292484e+06,2.384534e+06,2.531842e+06,2.614600e+06,2.646778e+06,2.769937e+06,2.873231e+06,2.895560e+06,...,1.877910e+06,2.049067e+06,2.330545e+06,1.853067e+06,1.908624e+06,2.056745e+06,2.193346e+06,2.801702e+06,4.146216e+06,40.434164
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,-6.954500e+05,-7.292850e+05,-7.712300e+05,-8.193470e+05,-8.588070e+05,-8.706800e+05,-7.996500e+05,0.000000e+00,0.000000e+00,0.960989
25%,2.321250e-01,2.195545e+00,2.775485e+00,2.908205e+00,2.868850e+00,2.946725e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,...,2.482300e-01,8.920950e-01,8.081000e-01,6.561467e-01,6.945325e-01,7.988333e-01,1.000000e+00,1.000000e+00,1.000000e+00,8.939620
50%,5.389266e+01,5.012788e+01,5.838291e+01,5.994703e+01,6.484251e+01,6.272254e+01,6.695612e+01,7.156824e+01,7.448224e+01,7.338248e+01,...,1.191571e+01,1.664890e+01,1.500000e+01,1.200000e+01,1.300000e+01,1.560690e+01,2.281776e+01,3.000000e+01,1.800000e+01,90.064484
75%,4.727125e+04,1.565600e+04,1.667600e+04,1.789750e+04,1.897775e+04,1.854900e+04,1.747550e+04,1.867200e+04,1.924950e+04,1.888800e+04,...,9.900000e+01,1.000000e+02,1.000000e+02,9.856000e+01,9.900941e+01,1.041120e+02,1.105062e+02,1.470000e+02,4.036900e+04,98.599878
max,1.070964e+08,1.052800e+08,1.121120e+08,1.254920e+08,1.357040e+08,1.448140e+08,1.509410e+08,1.500550e+08,1.461760e+08,1.462400e+08,...,1.978937e+08,2.055585e+08,3.016007e+08,1.951168e+08,1.940235e+08,1.930394e+08,1.920184e+08,2.475137e+08,1.897555e+08,100.000000

In [29]:
df.isnull().sum()

Country name        4722
Country code           0
Indicator name      4722
Indicator code         0
1970              351728
1971              343262
1972              343576
1973              343782
1974              343770
1975              343772
1976              342931
1977              343048
1978              343171
1979              343185
1980              342491
1981              342066
1982              342520
1983              342298
1984              342193
1985              342597
1986              341976
1987              342642
1988              343083
1989              343021
1990              341143
1991              339807
1992              340322
1993              340013
1994              338953
1995              338619
1996              339335
1997              340728
1998              320648
1999              293386
2000              279319
2001              282739
2002              284133
2003              273202
2004              272814
2005              268288
2006              243534
2007              261261
2008              265077
2009              255484
2010              250083
2011              236935
2012              240244
2013              247986
2014              231793
2015              230917
2016              235690
2017              240572
2018              223774
2019              227636
2020              248103
2021              259237
2022              290647
2023              342372
2024              367074
dtype: int64

In [33]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [34]:
df.describe()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,1.605400e+04,2.452000e+04,2.420600e+04,2.400000e+04,2.401200e+04,2.401000e+04,2.485100e+04,2.473400e+04,2.461100e+04,2.459700e+04,...,1.368650e+05,1.320920e+05,1.272100e+05,1.440080e+05,1.401460e+05,1.196790e+05,1.085450e+05,7.713500e+04,2.541000e+04,708.000000
mean,3.094202e+05,2.367425e+05,2.394119e+05,2.459894e+05,2.582951e+05,2.629419e+05,2.664995e+05,2.753627e+05,2.847715e+05,2.825439e+05,...,1.284990e+05,1.415484e+05,1.501237e+05,1.249552e+05,1.346604e+05,1.509528e+05,1.783643e+05,2.326513e+05,5.320048e+05,66.788381
std,2.594830e+06,2.231888e+06,2.292484e+06,2.384534e+06,2.531842e+06,2.614600e+06,2.646778e+06,2.769937e+06,2.873231e+06,2.895560e+06,...,1.877910e+06,2.049067e+06,2.330545e+06,1.853067e+06,1.908624e+06,2.056745e+06,2.193346e+06,2.801702e+06,4.146216e+06,40.434164
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,-6.954500e+05,-7.292850e+05,-7.712300e+05,-8.193470e+05,-8.588070e+05,-8.706800e+05,-7.996500e+05,0.000000e+00,0.000000e+00,0.960989
25%,2.321250e-01,2.195545e+00,2.775485e+00,2.908205e+00,2.868850e+00,2.946725e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,...,2.482300e-01,8.920950e-01,8.081000e-01,6.561467e-01,6.945325e-01,7.988333e-01,1.000000e+00,1.000000e+00,1.000000e+00,8.939620
50%,5.389266e+01,5.012788e+01,5.838291e+01,5.994703e+01,6.484251e+01,6.272254e+01,6.695612e+01,7.156824e+01,7.448224e+01,7.338248e+01,...,1.191571e+01,1.664890e+01,1.500000e+01,1.200000e+01,1.300000e+01,1.560690e+01,2.281776e+01,3.000000e+01,1.800000e+01,90.064484
75%,4.727125e+04,1.565600e+04,1.667600e+04,1.789750e+04,1.897775e+04,1.854900e+04,1.747550e+04,1.867200e+04,1.924950e+04,1.888800e+04,...,9.900000e+01,1.000000e+02,1.000000e+02,9.856000e+01,9.900941e+01,1.041120e+02,1.105062e+02,1.470000e+02,4.036900e+04,98.599878
max,1.070964e+08,1.052800e+08,1.121120e+08,1.254920e+08,1.357040e+08,1.448140e+08,1.509410e+08,1.500550e+08,1.461760e+08,1.462400e+08,...,1.978937e+08,2.055585e+08,3.016007e+08,1.951168e+08,1.940235e+08,1.930394e+08,1.920184e+08,2.475137e+08,1.897555e+08,100.000000